@{
    Layout = "~/Views/Shared/_FirstPageLayout.cshtml";
}
   
<div class=bs-docs-featurette>
    <div class=container>
    <h2 class=bs-docs-featurette-title>For enthusiasts, academics, and companies.</h2>
    <p class=lead>LATINO provides a range of building blocks for solving text mining tasks such as text categorization, user profiling, contextual advertising, and sentiment analysis.</p>
    <hr class=half-rule>
    <div class=row>
        <div class=col-sm-4>
            <img src=~/images/lightweight.png alt="Light-weight" class=img-responsive> 
            <h3>Light-weight, efficient, well tested.</h3>
            <p>LATINO has no fat dependencies; it is just one project. It can handle millions of documents and has been applied in many projects.</p>
        </div>
        <div class=col-sm-4>
            <img src=~/images/teach-and-learn.png alt="Teach and learn" class=img-responsive> 
            <h3>Great for teaching and learning.</h3>
            <p>LATINO was primarily developed as an academic toolbox. It is great for teaching and learning text mining and machine learning.</p>
        </div>
        <div class=col-sm-4>
            <img src=~/images/big-plans.png alt="Big plans" class=img-responsive> 
            <h3>Big (data) plans ahead.</h3>
            <p>We are currently working on LATINO4J with the aim to offer a light-weight text mining library for <a href="http://spark.apache.org/">Spark</a> and other big data frameworks.</p>
        </div>
    </div>
    <hr class=half-rule>
    <p class=lead>LATINO is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="@ViewBag.GitHubBaseUrl" class="btn btn-outline btn-lg">View the GitHub project</a> 
    </div>
</div>
@*<div class=bs-docs-featurette>
    <div class=container>
    <h2 class=bs-docs-featurette-title>Main featurette heading.</h2>
    <p class=lead>Featurette description.</p>
    <hr class=half-rule>
    <div class="row bs-docs-featured-sites">
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Lyft> <img src=~/images/expo-lyft.jpg alt=Lyft class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Vogue> <img src=~/images/expo-vogue.jpg alt=Vogue class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title="Riot Design"> <img src=~/images/expo-riot.jpg alt="Riot Design" class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Newsweek> <img src=~/images/expo-newsweek.jpg alt=Newsweek class=img-responsive> </a> </div>
    </div>
    <hr class=half-rule>
    <p class=lead>Some lead text here.</p>
    <a href="#" class="btn btn-outline btn-lg">A button</a> 
    </div>
</div>*@