@{
    Layout = "~/Views/Shared/_FirstPageLayout.cshtml";
}
   
<div class=bs-docs-featurette>
    <div class=container>
    <h2 class=bs-docs-featurette-title>Main featurette heading.</h2>
    <p class=lead>Featurette description.</p>
    <hr class=half-rule>
    <div class=row>
        <div class=col-sm-4>
            <img src=~/images/sass-less.png alt="Sass and Less support" class=img-responsive> 
            <h3>Some heading.</h3>
            <p>Some text.</p>
        </div>
        <div class=col-sm-4>
            <img src=~/images/devices.png alt="Responsive across devices" class=img-responsive> 
            <h3>Some heading.</h3>
            <p>Some text.</p>
        </div>
        <div class=col-sm-4>
            <img src=~/images/components.png alt=Components class=img-responsive> 
            <h3>Some heading.</h3>
            <p>Some text.</p>
        </div>
    </div>
    <hr class=half-rule>
    <p class=lead>Some lead text here.</p>
    <a href="@ViewBag.GitHubBaseUrl" class="btn btn-outline btn-lg">View the GitHub project</a> 
    </div>
</div>
@*<div class=bs-docs-featurette>
    <div class=container>
    <h2 class=bs-docs-featurette-title>Main featurette heading.</h2>
    <p class=lead>Featurette description.</p>
    <hr class=half-rule>
    <div class="row bs-docs-featured-sites">
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Lyft> <img src=~/images/expo-lyft.jpg alt=Lyft class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Vogue> <img src=~/images/expo-vogue.jpg alt=Vogue class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title="Riot Design"> <img src=~/images/expo-riot.jpg alt="Riot Design" class=img-responsive> </a> </div>
        <div class="col-xs-6 col-sm-3"> <a href="#" target=_blank title=Newsweek> <img src=~/images/expo-newsweek.jpg alt=Newsweek class=img-responsive> </a> </div>
    </div>
    <hr class=half-rule>
    <p class=lead>Some lead text here.</p>
    <a href="#" class="btn btn-outline btn-lg">A button</a> 
    </div>
</div>*@