@{
    ViewBag.ProjectName = "Project Name";
    ViewBag.Title = "Page Title";
    ViewBag.Description = "Some description";
}

<h1 id='section-1' class='page-header'>This is an underlined heading</h1>
<p class='lead'>This is some lead text.</p>
<p>This is some normal text.</p>
<h1 id='section-2'>This is another heading</h1>
<p>And this is again some text.</p>
<h2 id='section-2-1'>This is a sub-heading</h2>
<p>This is some text.</p>
<h3 id='section-2-1-1'>This is a sub-sub-heading</h3>
<p>This is some text.</p>
<h4 id='section-2-1-1-1'>This is a sub-sub-sub-heading</h4>
<p>This is some text.</p>
<h1 id='section-3'>Syntax highlighting</h1>
<p>This is some source code:</p>
<figure class=highlight>
<pre><code class='language-csharp'>using System;
using System.IO;

public static class SomeClassName
{
    // This is some C# source code.
}</code></pre>
</figure>
<p>Syntax highlighting is done with <a href='http://prismjs.com/download.html?themes=prism&languages=c+csharp+cpp+java+scala'>Prism</a>.</p>
<h1 id='section-4'>Based on Bootstrap</h1>
<p>Note that you have all the power of Bootstrap at your fingertips. Take a look at the HTML version for some kick-ass markup snippets.</p>

@section SideNav
{
<li> <a href=#section-1>This is an underlined heading</a> </li>
<li>
    <a href=#section-2>This is another heading</a> 
    <ul class=nav>
        <li><a href=#section-2-1>This is a sub-heading</a></li>
    </ul>
</li>
<li> <a href=#section-3>Syntax highlighting</a> </li>
<li> <a href=#section-4>Based on Bootstrap</a> </li>
}