<main class=bs-docs-masthead id=content role=main tabindex=-1>
    <div class=container>
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">X</span> 
        <p class=lead>@Html.Raw(ViewBag.ProjectDescription)</p>
        <p class=lead> <a href="#" class="btn btn-outline-inverse btn-lg">Download button</a> </p>
        <p class=version>Currently v@(ViewBag.CurrentVersion)</p>
    </div>
</main>