<ul class=bs-docs-footer-links>
    <li>Related projects:</li>
    <li><a href='#'>SvmLightLib</a></li>
    <li><a href='#'>LSqrWin</a></li>
    <li><a href='#'>LATINO4J</a></li>
    @*<li><a href='#'>Link 4</a></li>*@
</ul>
