<ul class=bs-docs-footer-links>
    <li>Related projects:</li>
    <li><a href='https://github.com/LatinoLib/SvmLightLib'>SvmLightLib</a></li>
    <li><a href='https://github.com/LatinoLib/LSqrWin'>LSqrWin</a></li>
    <li><a href='https://github.com/LatinoLib/LATINO4J'>LATINO4J</a></li>
</ul>
