<ul class=bs-docs-footer-links>
    <li><a href='@ViewBag.GitHubBaseUrl'>GitHub</a></li>
    @*<li><a href='#'>Link 2</a></li>
    <li><a href='#'>Link 3</a></li>
    <li><a href='#'>Link 4</a></li>*@
</ul>
