<p>Made a long time ago in a galaxy far, far away by <a href="https://github.com/orgs/LatinoLib/people">Miha Grčar & some awesome contributors</a></p>
<p>Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>, docs template by <a href="http://getbootstrap.com">Bootstrap</a>.</p>
