pre[class*="language-"] {
    padding: 0;
    margin: 0;
    background: transparent;
}

.bs-docs-featured-sites .col-sm-3:first-child img, .bs-docs-featured-sites .col-sm-3:last-child img {
    border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
}

span.writing-math, p.writing-math > span {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
}

p.writing-math {
    text-align: center;
}
    
.math {
    display: none;
}